li a.Cate {
    color: black !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    text-decoration: none;
    font-size: 19px;
    font-weight: 400;
    border-bottom: 2px solid #b7b0b0;
    padding: 0 0 4px 0;
}

.toggle-btnn {
    padding: 20px 0 0 0 !important;
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
}

.side_con {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
}

.background_content_inner_banner_section_catlog {
    background-image: url(../images/catlog/cover-16.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.inner_banner {
    height: 62vh;
}

.inner_banner2 {
    height: 62vh;
}

.inner_banner3 {
    height: 62vh;
}

.inner_banner {
    background-image: url(../images/catlog/cover-24.jpg);
    width: 100%;
    height: 100%;
    min-height: 383px;
    background-size: cover;
}

.inner_banner2 {
    background-image: url(../images/catlog/cover-29.jpg);
    width: 100%;
    height: 100%;
    min-height: 383px;
    background-size: cover;
}

.inner_banner3 {
    background-image: url(../images/catlog/cover-30.jpg);
    width: 100%;
    height: 100%;
    min-height: 383px;
    background-size: cover;
}

.section_1_catlog {
    padding: 80px 0;
}

.inner_banner_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading_content_inner_banner_section_catlog {
    padding: 0 69px;
}

.right_side {
    padding: 0 8px;
}

.left_side {
    padding: 0 8px;
}

div .heading_content_inner_banner_section_catlog a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

div .heading_content_inner_banner_section_catlog h1 {
    font-size: 1.75rem;
    margin-bottom: 25px;
}

.toggle-btnn_a {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 10px;
}

.btn-width {
    width: 58px;
    max-width: 100%;
}

.color_picker {
    display: flex;
    gap: 0 11px;
    align-items: center;
}

.clr-style {
    border-radius: 100% !important;
    width: 21px;
    height: 21px;
    margin: 0 !important;
}

.bg-blue {
    background-color: #30307e !important;
}

.bg-broun {
    background-color: brown;
}

.bg-gray {
    background-color: gray !important;
}

.bg-cyan {
    background-color: cyan;
}

#form-search {
    width: 100% !important;
    max-width: 257px !important;
    padding-left: 15px;
    font-size: 18px;
}

.width-count {
    width: 84px;
    margin: 0px !important;
    text-align: center;
    height: 31px;
    padding: 0 0 0 3px !important;
    border-radius: 2px;
    border: 1px solid lightgray;
}

.card-button-slider {
    background-color: gray;
    border-radius: 50px;
    display: inline-block;
    padding: 6px 6px;
}

.section_1_catlog_items {
    position: relative;
}

.setting_banner {
    position: absolute;
    bottom: 19px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 5px;
}

.button_set {
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 3rem !important;
}

.margin_buttom {
    margin-bottom: 48px !important;
}

.flex-heading-nav {
    flex-direction: column;
}

.heading_section_main {
    justify-content: space-between;
    margin-bottom: 2rem;
}

.gap_right_page_2 {
    gap: 40px 23px;
}
.text-decoration_none {
    text-decoration: none;
    color: gray;
}

.text-gray_icon {
    color: gray;
}






/* slider 2 */
.inner-side_headin_2_meta {
    padding: 0 1px;
}

.strong {
    color: #ff6f61;
    font-weight: 500;
}

.with_padding {
    display: flex;
    align-items: center;
    width: 160px;
    justify-content: center;
    gap: 13px;
    height: 54px;
    border-radius: 5px !important;
}

.item_botton_style {
    padding: 11px 16px;
    background-color: #e2e2e2;
    border-radius: 0px !important;
    color: gray;
    display: flex;
    gap: 21px;
}

.flex-nav-nav {
    align-items: center;
    gap: 15px;
}

.font_size_heading_clothes_nav {
    text-decoration: none;
    font-size: 18px;
    color: gray;
}

.icon_size_heading_clothes_nav i {
    color: gray;
    font-size: 13px;
}


/* end 2 */
/* slider 3 */
.text-size_card_3 {
    font-size: 60px;
    line-height: 1.2;
}

.card_3 {
    border-bottom: 2px solid white !important;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

/* end 3 */